* {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 12px;
}
h1 span {
  display: block;
  margin-top: 4px;
  font-size: 0.6em;
}
#root {
  padding: 10px 20px;
  padding-right: 0;
  width: 350px;
  height: 300px;
  border-radius: 20px;
}

#OAlists {
  overflow-y: scroll;
  list-style: none;
  margin: 10px 0;
  width: 100%;
  height: 100%;
}

#OAlists .list {
  display: flex;
  align-items: center;
  height: 45px;
}

#OAlists .list img {
  margin-right: 20px;
  max-width: 25px;
  max-height: 25px;
}
#OAlists .list p {
  font-size: 1rem;
}
.btn-area button {
  background: rgba(102, 152, 203, 1);
  background: -moz-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(102, 152, 203, 1)),
    color-stop(100%, rgba(92, 138, 184, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(102, 152, 203, 1) 0%,
    rgba(92, 138, 184, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6698cb', endColorstr='#5c8ab8', GradientType=0 );
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  color: #fff;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.btn-area {
  display: flex;
}
.btn-area a {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.btn-area a img {
  height: 30px;
  width: 30px;
}
.btn-area a:last-child {
  margin-right: 0;
}

/* btn setting */
#google-load {
  background-color: #fff;
}
#naver-load {
  background-color: #03c75a;
}
#kakao-load {
  background-color: #fee500;
}

#naver-load img {
  width: 20px;
  height: 20px;
}
#kakao-load img {
  width: 25px;
  height: 25px;
}
button:active {
  box-shadow: 0 0 #74a3b0;
  background: #74a3b0;
}
